h1, 
h2,
h3, 
p, 
body,
html, 
ul, 
li, 
nav, 
header {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

button {
    border-style: none;
    box-shadow: none;
    background-color: inherit;
    color: inherit;
    font-size: inherit;
}

textarea {
    border: 0px;
    resize: none;
    padding: 0px;
}

br {
    display: block;
    width: 100%;
    height: 10px;
    background-color: var(--c1);
}

textarea:focus-visible {
    outline: none;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, li {
    list-style: none;
}

body {
    background-color: var(--c1);
    color: white;
    font-family: sans-serif;
    overflow-y: auto;
    overscroll-behavior-y: cover;
}

main {
    position: inherit;
}

form input {
    display: block;
}

.responsivo {
    display: none;
}

.header-bg {
    background-color: var(--c1);
    border-bottom: 1px solid white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 64px;
    padding-bottom: 64px;
    position: relative;
}

.login-area ul,
nav ul,
nav {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
}

.drop-ul {
    display: block;
    position: absolute;
    z-index: 99;
    width: 250px;
    height: fit-content;
    right: 20px;
    background: var(--c1);
    border: 1px solid var(--c11);
    text-align: right;
    border-radius: 5px;
    padding: 0px;
}

.dropdown a {
    display: block;
    padding: 16px;
}

.drop-ul li {
    width: 100%;
}

.drop-ul li {
    border-bottom: 1px solid white;
}

.drop-ul li:last-child {
    border-bottom: 0px;
}

.div-flashes {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    background-color: green;
    color: white;
    height: 50px;
    place-items: center;
    transition: 0.3s 1s ease-in;
    overflow: hidden;
}

.div-flashes.animate {
    height: 0px;
}

.hidden {
    display: none;
}

.flex {
    display: flex;
}

.drop-btn {
    padding: 20px;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
}

.drop-btn svg {
    position: absolute;
    display: block;
    top: 26px;
    right: 0px;
    transition: 0.3s;
}

.drop-btn:hover svg {
    top: 20px;
}

nav a {
    position: relative;
}

nav a::after {
    content: "";
    display: block;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: white;
    bottom: -2px;
    transition: 0.3s;
}

nav a:hover:after {
    width: 100%;
}

@media (max-width: 800px) {
    .header {
        flex-direction: column;
        gap: 20px;
        padding-top: 40px;
        padding-bottom: 20px;
    }

    .drop-btn {
        padding: 16px 32px;
        border-radius: 5px;
        border: 2px solid var(--c4);
    }

    .drop-btn svg {
        display: none;
    }

    .drop-ul {
        width: 150px;
        top: 95%;
        right: 50%;
        transform: translateX(27%);
    }
}