{% extends "layout.html" %}

{% block title %}
    Export
{% endblock %}

{% block script %}
    <script src="/static/download.js"></script>
{% endblock %}

{% block nav %}
    <ul>
        <li><a class="font1-link" href="/write">Write</a></li>
        <li><a class="font1-link" href="/export">Export</a></li>
    </ul>
{% endblock %}

{% block main %}
        <section class="export-bg">
            <fieldset>
                <legend class="font1-l">Choose your format:</legend>
                <form class="export-form" action="/export" method="post">
                    <div>
                        <input type="radio" name="format" id="md" value="md" check>
                        <label class="font1-s" for="md">Markdown</label>
                        <input type="radio" name="format" id="pdf" value="pdf">
                        <label class="font1-s" for="md">PDF</label>
                    </div>
                    <div id="meta" class="hidden font1-link">
                        <label for="author">Author's Name:</label>
                        <input class="font1-link" type="text" name="author" id="author" autocomplete="off">
                        <label for="author">Quote (optional):</label>
                        <input class="font1-link" type="text" name="quote" id="quote" autocomplete="off" placeholder='"To be or not to be." Shakespeare, William'>
                        <label for="author">Bio (tell more about yourself):</label>
                        <textarea class="font1-link" rows="5" type="text" name="bio" id="bio" autocomplete="off"></textarea>
                        <span class="font1-xs">PDF rendering is powered by finalformat.</span>
                    </div>
                    <button type="submit" class="botao primario font1-button" download>download</button>
                </form>
            </fieldset>
        </section>
        <a id="download" class="hidden" href="{{ url_for('download') }}">File</a>
{% endblock %}