{% extends "layout.html" %}

{% block title %}
    Welcome to Chapter-easy
{% endblock %}

{% block main %}
    <div class="img-background">
        <img src="/static/jpg/bg_landing.jpg">
        <h1>Write your fiction project with ease</h1>
        <p>Focus on whats more important while getting things done. <span id="write-dest">Write</span> your next project, control the
             <span id="chapters-dest">order of your chapters</span> on the fly and <span id="share-dest">share it</span> 
            with the world.</p>
        <a href="/register">Sign In</a>
    </div>
{% endblock %}