{% extends "layout.html" %}

{% block title %}
    Welcome to Chapter-easy
{% endblock %}

{% block main %}
    <div class="img-background">
        <img src="/static/jpg/bg_landing.jpg">
        <h1 class="font2-xxl">Write your fiction project with ease</h1>
        <p class="font1-link faded-gray">Focus on whats more important while getting things done. <span class="dest-blue font1-l">Write</span> your next project, control the
             <span class="dest-red font1-l">order of your chapters</span> on the fly and <span class="dest-yellow1 font1-l">share it</span> 
            with the world.</p>
        <a class="botao outline font1-link-bold" href="/register">Sign In</a>
    </div>
{% endblock %}