{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<div class="form login font1-s">
    <form action="/login" method="post">
        <h2 class="font1-link-bold">Log In</h2>
        <label for="username">Username</label>
        <input class="font1-link" id="username" name="username" placeholder="username" type="text" required>
        <label for="password">Password</label>
        <input class="font1-link" id="password" name="password" placeholder="password" type="password" required>
        <button class="botao discreto" type="submit" name="login" id="btn login">Log In</button>
    </form>
</div>    
{% endblock %}