{% extends "layout.html" %}

{% block title %}
    Sign In | Chapter-easy
{% endblock %}

{% block main %}
    <div class="form register font1-s">
        <form action="/register" method="post">
            <h2 class="font1-link-bold">Create your account</h2>
            <label for="username">Username</label>
            <input class="font1-link" id="username" name="username" placeholder="username" type="text" required>
            <label for="email">Email</label>
            <input class="font1-link" id="email" name="email" placeholder="email" type="email" required>
            <label for="password">Password</label>
            <input class="font1-link" id="password" name="password" placeholder="password" type="password" required>
            <label for="check-password">Confirm your Password</label>
            <input class="font1-link" id="check-password" name="check-password" placeholder="repeat the password" type="password" required>
            <button class="botao discreto" type="submit" name="register" id="btn register">Register</button>
        </form>
    </div>    

{% endblock %}