{% extends "layout.html" %}

{% block title %}
    Write
{% endblock %}

{% block script %}
    <script src="/static/write.js"></script>
    <script src="/static/keyboard.js"></script>
{% endblock %}

{% block nav %}
    <ul>
        <li><a class="font1-link" href="/write">Write</a></li>
        <li><a class="font1-link" href="/export">Export</a></li>
        <li>
            <form id="save-form" action="/save" method="post">
                <input name="chapter_name" type="hidden" value="{{ current_chapter }}">
                <input name="book_title" type="hidden" value="{{ current_title }}">
                <input name="chapter_body" id="save-submit-value" type="hidden" value="">
                <div>
                    <button class="botao primario font1-button" type="submit" id="save">Save Changes</button>
                    <span class="font1-xs c5">or press <span class="font1-xs c10">CTRL + S</span></span>
                </div>
            </form>
        </li>
    </ul>
{% endblock %}

{% block main %}
    {% if chapter_count %}
        <span id="chapter_body" class="hidden">{{ chapter_body }}</span>
        <div class="windowed hidden">
            <form class="form chapter" action="/new_chapter" method="post">
                <input class="font1-link" name="book_title" type="hidden" value="{{ current_title }}">
                <label class="font1-link-bold">Chapter Title</label>
                <input class="font1-link" name="chapter_name" type="text" autocomplete="off" autofocus required>
                <button class="botao discreto font1-button" type="submit">Create Chapter</button>
            </form>
        </div>
        <div class="grid-write">
            <div class="chapters">
                <div class="chapters-list">
                    <h4 class="book-title-h4 font1-l">{{ current_title }}</h4>
                    <ul>
                        {% for chapter in chapters %}
                        <li>
                            <form class="hidden-form" action="/set_chapter" method="post">
                                <input name="chapter_index" type="hidden" value="{{ loop.index }}">
                                <button type="submit" class="capitulo">
                                    <span class="chapter-index font2-index">{{ loop.index | romans }}.</span>
                                    <span class="chapter-name font1-s">{{ chapter }}</span>
                                </button>
                            </form>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% if chapter_count %}
                <div class="order-cont">
                    <button id="show-order" class="botao font1-s">Change Chapter Order</button>
                    <form class="form order hidden" action="/change_order" method="post">
                        <div>
                            <input class="small-input font1-s" type="text" name="old_index" placeholder="Index" required>
                            <input class="small-input font1-s" type="text" name="new_index" placeholder="New index" required>
                            <input type="hidden" name="current_title" value="{{ current_title }}">
                        </div>   
                        <button class="botao-menor discreto font1-button" type="submit">Change Order</button>
                    </form>
                </div>
                {% endif %}
            </div>
            <div class="documento">
                <div class="documento-header">
                    <div class="area-chapter">
                        <div>
                            <svg id="icon_new_chapter" width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="17.5" cy="17.5" r="17.5" fill="#FFC0A3"/>
                                <path d="M17.5 11.6667V24.6296" stroke="#140D1C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M23.9815 18.1481L11.0185 18.1481" stroke="#140D1C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </div>
                        <span class="font1-s">New Chapter</span>
                    </div>
                    <div>
                        <button id="scroll" class="botao font1-button">SCROLL DOWN</button>
                        <span class="font1-xs c5">or press <span class="font1-xs c10">CTRL + D</span></span>
                    </div>
                </div>
                <div class="documento-escrita">
                    <section>
                        <h3 class="font2-index faded-gray">{{ current_index | romans }}</h3>
                        <h1 class="font2-l" id="chapter_title_h1">{{ current_chapter }}</h1>
                        <div class="paper-cont">
                            <textarea class="paper font3-body" name="chapter_body" rows="1" autofocus autocomplete="off">{{ chapter_body }}</textarea>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    {% else %}
        <div class="new_chapter">
            <form class="form first_chapter" action="/new_chapter" method="post">
                <label class="font1-l">Book Title</label>
                <input class="font1-link" name="book_title" type="text" required>
                <label class="font1-l">Chapter Title</label>
                <input class="font1-link" name="chapter_name" type="text" required>
                <input name="chapter_index" type="hidden" value="{{ current_index }}">
                <input name="chapter_body" type="hidden" value="    ">
                <button class="botao discreto font1-button" type="submit">Create chapter</button>
            </form>
        </div>
    {% endif %}
{% endblock %}