{% extends "layout.html" %}

{% block title %}
    Write
{% endblock %}

{% block script %}
    <script>
        function reqListener() {
            console.log(this.responseText);
            }

        function slice_text(text) {
            let array = [];
            n = (text.length / 2000);
                for (let i = 0; i < n; i++) {
                    let start = 2000 * i;
                    let end = 2000 * (i + 1);
                    let slice = text.slice(start, end);
                    array.push(slice);
                    // append slice to array
                }
                console.log(array);
            return array
        }

        function new_textarea(slice) {
            let container = document.createElement("div")
            let textarea = document.createElement("textarea");
            let node = document.createTextNode(slice);
            textarea.appendChild(node);
            textarea.classList.add("paper");
            textarea.classList.add("font3-body");
            container.classList.add("paper-cont");
            textarea.maxLength = 2000;
            document.getElementById("pai-paper-cont").appendChild(container);
            document.querySelector(".paper-cont:last-child").appendChild(textarea);
            textarea.autofocus = true;

            return textarea.autofocus
        }

        document.addEventListener("DOMContentLoaded", function(){
            let sent_text = document.querySelector(".vessel").textContent;
            document.getElementById("save-submit-value").value = sent_text;
            for (let string of slice_text(sent_text)) {
                new_textarea(string);
            }
            // document.getElementById("length").innerHTML = document.querySelector(".paper").value.length;

            document.querySelector(".area-chapter").addEventListener("click", function(){
                document.querySelector(".windowed").classList.toggle("hidden");
            });
            let chapters = document.querySelectorAll(".chapter-name")
            for (let chapter of chapters) {
                if (chapter.innerHTML === document.getElementById("chapter_title_h1").innerHTML) {
                    chapter.parentNode.classList.add("ativo");
                };
            };
            let pages = document.querySelectorAll(".paper");
            let text = "";
            document.onkeyup = () => {
                for (let page of pages) {
                    // concatenate all strings in all textareas before saving
                    text += page.value;
                }
                document.getElementById("save-submit-value").value = text;
                document.getElementById("length").innerHTML = text.length;
                }
            document.onkeydown = () => {
                let last = document.querySelector(".paper:last-child")
                if (last.value.length > 1999) {
                    new_textarea(" ");
                    document.querySelector(".paper-cont:last-child.paper").selectionStart;
                }        
            }
        });
    </script>
    <script src="/static/keyboard.js"></script>
{% endblock %}

{% block nav %}
    <ul>
        <li><a class="font1-link" href="/write">Write</a></li>
        <li><a class="font1-link" href="/export">Export</a></li>
        <li>
            <form id="save-form" action="/save" method="post">
                <input name="chapter_name" type="hidden" value="{{ current_chapter }}">
                <input name="book_title" type="hidden" value="{{ current_title }}">
                <input name="chapter_body" id="save-submit-value" type="hidden" value="">
                <button class="botao primario font1-button" type="submit" id="save">Save Changes</button>
            </form>
            
        </li>
    </ul>
{% endblock %}

{% block main %}
    {% if chapter_count %}
        <span id="chapter_body" class="vessel hidden">{{ chapter_body }}</span>
        <div class="windowed hidden">
            <form class="form chapter" action="/new_chapter" method="post">
                <input class="font1-link" name="book_title" type="hidden" value="{{ current_title }}">
                <label class="font1-link-bold">Chapter Title</label>
                <input class="font1-link" name="chapter_name" type="text" required>
                <button class="botao discreto font1-button" type="submit">Create Chapter</button>
            </form>
        </div>
        <div class="grid-write">
            <div class="chapters">
                <div class="chapters-list">
                    <h4 class="book-title-h4 font1-l">{{ current_title }}</h4>
                    <ul>
                        {% for chapter in chapters %}
                        <li>
                            <form class="hidden-form" action="/set_chapter" method="post">
                                <input name="chapter_index" type="hidden" value="{{ loop.index }}">
                                <button type="submit" class="capitulo">
                                    <span class="chapter-index font2-index">{{ loop.index | romans }}.</span>
                                    <span class="chapter-name font1-s">{{ chapter }}</span>
                                </button>
                            </form>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% if chapter_count %}
                <div class="order-cont">
                    <form class="form order" action="/change_order" method="post">
                        <div>
                            <input class="small-input font1-s" type="text" name="old_index" placeholder="Index" required>
                            <input class="small-input font1-s" type="text" name="new_index" placeholder="New index" required>
                            <input type="hidden" name="current_title" value="{{ current_title }}">
                        </div>   
                        <button class="botao-menor discreto font1-button" type="submit">Change Order</button>
                    </form>
                </div>
                {% endif %}
            </div>
            <div class="documento">
                <div class="area-chapter">
                    <svg id="icon_new_chapter" width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="17.5" cy="17.5" r="17.5" fill="#FFC0A3"/>
                        <path d="M17.5 11.6667V24.6296" stroke="#140D1C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M23.9815 18.1481L11.0185 18.1481" stroke="#140D1C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <span class="font1-s">New Chapter</span>
                </div>
                <div>
                    <span class="font1-xs">characters: <span id="length">0</span></span>
                </div>
                <div class="documento-escrita">
                    <div id="pai-paper-cont">
                        <h3 class="font2-index faded-gray">{{ current_index | romans }}</h3>
                        <h1 class="font2-l" id="chapter_title_h1">{{ current_chapter }}</h1>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="new_chapter">
            <form class="form first_chapter" action="/new_chapter" method="post">
                <label class="font1-l">Book Title</label>
                <input class="font1-link" name="book_title" type="text" required>
                <label class="font1-l">Chapter Title</label>
                <input class="font1-link" name="chapter_name" type="text" required>
                <input name="chapter_index" type="hidden" value="{{ current_index }}">
                <input name="chapter_body" type="hidden" value="    ">
                <button class="botao discreto font1-button" type="submit">Create chapter</button>
            </form>
        </div>
    {% endif %}
{% endblock %}