#save-form div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    position: relative;
}

#save-form div > span {
    position: absolute;
    bottom: -24px;
}

.documento-header div:last-child {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}

#scroll {
    padding: 8px;
}

.grid-write {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.documento-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 1500px;
}

.windowed {
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.windowed.hidden {
    display: none;
}

.chapters {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    border-right: 2px solid var(--c10);
}

.chapters-list {
    display: flex;
    flex-direction: column;
    place-items: center;
    place-content: center;
    min-width: 100%;
}

.chapters-list ul {
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 0px;
    min-width: 200px;
}

.form.chapter {
    flex-direction: column;
    place-self: center;
    margin: 0px;
    background-color: var(--c1);
    padding: 75px;
}

.chapter label {
    margin-bottom: 20px;
}

.chapter input {
    margin-bottom: 60px;
}

.area-chapter {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
    width: fit-content;
    cursor: pointer;
}

.capitulo {
    display: flex;
    gap: 10px;
    place-items: center;
    max-width: 250px;
    overflow: hidden;
}

.chapter-index {
    height: min-content;
    min-width: 30px;
    text-align: center;
    place-self: left;
}

.chapter-name {
    text-overflow: clip;
    white-space: nowrap;
}

.order-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order {
    width: 90%;
}

.form.order {
    margin: 0px;
    border: 0px;
}

.form.order:hover {
    border: 0px;
}

.small-input {
    width: 7ch;
    display: inline-block;
}

.order div {
    display: flex;
    gap: 10px;
}

.order.hidden {
    display: none;
}

.documento-escrita {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}

.paper {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: hidden;
}

.paper-cont {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    background-color: white;
    margin-bottom: 30px;
    padding-bottom: 160px;
    min-height: 800px;
}

.documento-escrita button,
.documento-escrita h3 {
    background-color: white;
    text-align: center;
}

.documento-escrita button {
    width: 100%;
    color: black;
    display: block;
    padding-bottom: 60px;
}

.documento-escrita h3 {
    padding-top: 52px;
    padding-bottom: 20px;
}

.paper::after {
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    background-color: var(--c1);
}

footer {
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    place-items: center;
}

footer button {
    padding: 16px;
    color: var(--c1);
}

#rename-chapter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#rename-chapter .form {
    background-color: var(--c1);
    padding: 40px 20px;
}

#rename-chapter label {
    display: block;
    margin-bottom: 20px;
}

#chapter_title_h1 {
    cursor: pointer;
}

.x {
    position: absolute;
    right: 10px;
    top: 130px;
    background-color: transparent;
}

.windowed .x {
    top: 10px;
}

@media (max-width: 1400px) {
    .scroll-down-area {
        margin-right: 10px;
    }

    .grid-write {
        display: grid;
        grid-template-columns: 1fr;
    }

    .chapters-list ul {
        display: flex;
        flex-wrap: wrap;
        gap: 10px 10px;
        place-content: center;
    }

    .chapters {
        display: flex;
        flex-direction: column;
        gap: 5px;
        border-right: 0px;
    }

    /* componentes */
    .capitulo {
        padding: 12px;
        margin-bottom: 0px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        cursor: pointer;
        width: fit-content;
        max-width: 250px;
    }
}

@media (max-width: 1200px) {
    .paper {
        width: 80%;
    }

    .paper-cont {
        width: 100%;
        margin: 0px;
    }

    .documento-escrita section {
        width: 100%;
    }
}

@media (max-width: 800px) {
    .documento-header {
        align-items: center;
    }

    .scroll-down-area span,
    nav span {
        display: none;
    }

    #save-form div {
        position: relative;
    }

    #save {
        display: none;
    }

    #save-body {
        position: fixed;
        right: 10%;
        top: 90%;
    }

    .documento-header div:last-child {
        margin-top: 0px;
    }

    .responsivo {
        display: block;
    }

    footer {
        background-color: white;
    }
}