:root {
    --c1: #140D1C;
    --c2: #291D35;
    --c3: #392C48;
    --c4: #594A69;
    --c5: #706180;
    --c6: #877A95;
    --c7: #A096AB;
    --c8: #B5AFBC;
    --c9: #C9C4CF;
    --c10: #E7E3EB;
    --c11: #F4F0F8;
    --dest-red: #FFC0A3;
    --dest-yellow-1: #FEFFB0;
    --dest-yellow-2: #FDFF87;
    --dest-blue: #C9FFFA;
}

.c1 {
    color: var(--c1);
}

.c2 {
    color: var(--c2);
}

.c3 {
    color: var(--c3);
}

.c4 {
    color: var(--c4);
}

.c5 {
    color: var(--c5);
}

.c6 {
    color: var(--c6);
}

.c7 {
    color: var(--c7);
}

.c8 {
    color: var(--c8);
}

.c9 {
    color: var(--c9);
}

.c10 {
    color: var(--c10);
}

.c11 {
    color: var(--c11);
}

.faded-gray {
    color: #A6A6A6;
}

.dest-red {
    color: var(--dest-red);
}

.dest-yellow1 {
    color: var(--dest-yellow-1);
}

.dest-blue {
    color: var(--dest-blue)
}