:root {
    --c1: #140D1C;
    --c2: #291D35;
    --c3: #392C48;
    --c4: #594A69;
    --c5: #706180;
    --c6: #877A95;
    --c7: #A096AB;
    --c8: #B5AFBC;
    --c9: #C9C4CF;
    --c10: #E7E3EB;
    --c11: #F4F0F8;
    --dest-red: #FFC0A3;
    --dest-yellow-1: #FEFFB0;
    --dest-yellow-2: #FDFF87;
    --dest-blue: #C9FFFA;
}