.font2-xxl {
    font: 400 4rem/1 "Playfair Display", serif;
}

.font2-l {
    font: 400 2.5rem/1 "Playfair Display", serif;  
}

.font2-index {
    font: 400 1.5rem/1 "Playfair Display", serif;
}

.font1-l {
    font: 500 1.5rem/1.5 "Work Sans", sans-serif;  
}

.font1-link {
    font: 400 1.25rem/1 "Work Sans", sans-serif;
}

.font1-link-bold {
    font: 700 1.25rem/1 "Work Sans", sans-serif;
}

.font1-button {
    font: 400 1.125rem/1 "Work Sans", sans-serif;
    text-transform: uppercase;
}

.font1-s {
    font: 400 1rem/1 "Work Sans", sans-serif;
}

.font1-xs {
    font: 400 0.75rem/1 "Work Sans", sans-serif;
}

.font3-body {
    font: 400 1.25rem/1.375 "PT Serif", sans-serif;
}

@media (max-width: 800px) {
    .font2-index {
        font-size: 1rem;
    }
    .font2-xxl {
        font-size: 3rem;
    }
    
    .font2-l {
        font-size: 1.75rem;
    }

    .font1-link {
        font-size: 1rem;
    }

    .font1-button {
        font-size: 0.8rem;
    }

    .font1-s {
        font-size: 0.8rem;
    }

    .font1-xs {
        font-size: 0.6rem;
    }

    .font1-l {
        font-size: 1.2rem;
    }

    .font3-body {
        font-size: 1rem;
    }
}